<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <a class="navbar-brand mt-2 ms-3 mt-lg-0 border py-0 px-1" href="#">
      StdMS
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Student Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Login">Login</a>
      </li>
    </ul>
  </div>
  
</nav>
