
.custom-alert {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  border-radius: 5px;
  }

.custom-alert p {
  margin-bottom: 20px;
}

.custom-alert button {
  margin-right: 10px;
}

.custom-alert button.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.custom-alert button.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.hidden{
  display: none;
}

/* #btn {
  display: inline-block;
  padding: 7px 20px;
  font-size: 16px;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 100px;
  color: green;
  background-color: #c2fbd7;
  cursor: pointer;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn {
  box-shadow:
    rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, .15) 0 1px 2px,
    rgba(44, 187, 99, .15) 0 2px 4px,
    rgba(44, 187, 99, .15) 0 4px 8px,
    rgba(44, 187, 99, .15) 0 8px 16px,
    rgba(44, 187, 99, .15) 0 16px 32px;
}

#btn:hover {
  box-shadow:
    rgba(44, 187, 99, .35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, .25) 0 1px 2px,
    rgba(44, 187, 99, .25) 0 2px 4px,
    rgba(44, 187, 99, .25) 0 4px 8px,
    rgba(44, 187, 99, .25) 0 8px 16px,
    rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
}
 */

/* Your Angular component's CSS or SCSS file */

.my-text {
  font-family: 'Roboto Condensed', sans-serif;
}

.my-text2 {
  font-family: 'Josefin Sans';
  font-size: 45px;
}


.main-content {
  min-height: calc(100vh - 100px); /* Adjust the height as needed */
}

/* Style the footer */
.footer {
  background-color: #333; /* Set your preferred background color */
  color: white; /* Set your preferred text color */
  padding: 20px; /* Add padding to the footer */
  text-align: center; /* Center align the footer content */
  position: absolute;
  bottom: 0; /* Position the footer at the bottom */
  width: 100%; /* Make the footer span the full width of the viewport */
}

